/deployment_back/node_modules
/deployment_back/dist
/deployment_back/mini-back-key
/deployment_back/uploads

/deployment_front/node_modules
/deployment_front/dist

/mini_back/node_modules
/mini_back/dist
/mini_back/*.env


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json