/deployment_back/node_modules
/deployment_back/dist
/deployment_back/*.env
/deployment_back/mini-back-key

/deployment_front/node_modules
/deployment_front/dist
/deployment_front/*.env

/mini_back/node_modules
/mini_back/dist
/mini_back/*.env


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json